<?xml version="1.0"?>
<launch>
    <arg name="name" default="myellow"/>
    <arg name="vehicle_id" default="0"/>

    <group ns="nortek_dvl">
        <node pkg="nucleus1000_driver" type="nucleus_ros_driver.py" name="nucleus1000_driver" output="screen">
            <param name="name_vehicle_id"   value="$(arg name)$(arg vehicle_id)"/>
            <rosparam command="load" file="$(find nucleus1000_driver)/config/config_nucleus1000.yaml"/>
        </node>
    </group>
</launch>